.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header input {
    width: 270px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-left: 10px;
}
.user-info {
    margin-right: 20px;
    display: flex;
    align-items: center;
}
.user-info span {
    margin-left: 10px;
    font-size: 16;
    font-weight: 400;
}
.notification-icon {
    font-size: 16px;
    cursor: pointer;
}