
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 900px;
    width: 100%;
    margin: 20px;
}

.container img {
    display: none;
    width: 50%;
    object-fit: cover;
}

.form-container {
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.form-container .logo {
    text-align: center;
    margin-bottom: 20px;
}

.form-container .logo img {
    max-width: 80px;
    margin-left: 140px;
}

.form-container h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.input-box {
    position: relative;
    width: 100%;
    margin: 10px 0;
}

.input-box input {
    width: 100%;
    padding: 12px 12px 12px 40px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
}

.input-box .icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
}

.button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--color-blue_black);
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.register-link {
    text-align: center;
    margin-top: 20px;
}

.register-link a {
    color: var(--color-yellow);
    text-decoration: none;
}

.social_icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.social {
    background-color: var(--color-gray);
    padding: 10px;
    border-radius: 30px;
    align-items: center;
}

.social img {
    width: 20px;
    height: 20px;
}

/* Media Queries for Responsiveness */
@media (min-width: 768px) {
    .container {
        flex-direction: row;
    }

    .container img {
        display: block;
    }

    .form-container {
        width: 50%;
        padding: 40px;
    }
}

@media (max-width: 767px) {
    .form-container .logo img {
        max-width: 60px;
    }

    .form-container h1 {
        font-size: 20px;
    }

    .input-box input {
        padding: 10px 10px 10px 35px;
        font-size: 14px;
    }

    .input-box .icon {
        font-size: 14px;
    }

    .button {
        font-size: 14px;
    }

    .register-link {
        font-size: 14px;
    }

    .container img {
        display: none;
    }
}
