.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 950px;
    width: 100%;
    margin: 20px auto;
}

.container img {
    display: none;
    width: 50%;
    object-fit: cover;
}

.form-container {
    padding: 30px;
    width: 100%;
    box-sizing: border-box;
}

.form-container .logo {
    text-align: center;
    margin-bottom: 30px;
}

.form-container .logo img {
    max-width: 80px;
}

.form-container h1 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 25px;
}

.input-box {
    position: relative;
    width: 100%;
    margin: 15px 0;
}

.input-box input {
    width: 100%;
    padding: 14px 12px 14px 40px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
    transition: border 0.3s;
}

.input-box input:focus {
    border-color: var(--color-blue_black);
    outline: none;
}

.input-box .icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: 5px 0 20px;
    color: #4d4444;
}

.remember-forgot label input {
    margin-right: 4px;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.error{
    color: red;
    text-align: center;
    font-size: 15px;
    margin-top: 5px;
}

.conditions {
    margin-bottom: 15px;
}

.conditions label {
    font-size: 14px;
}

.button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--color-blue_black);
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color:var(--color-yellow)
}

.register-link {
    text-align: center;
    margin-top: 25px;
    font-size: 15px;
}

.register-link a {
    color:var(--color-yellow);
    text-decoration: none;
}

.register-link p a:hover {
    text-decoration: underline;
}

.social_icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    margin-top: 25px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
}

.social {
    background-color: #f0f0f0; 
    padding: 12px;
    border-radius: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.social img {
    width: 24px;
    height: 24px;
}

/* Media Queries for Responsiveness */
@media (min-width: 768px) {
    .container {
        flex-direction: row;
    }

    .container img {
        display: block;
    }

    .form-container {
        width: 50%;
        padding: 40px;
    }
}

@media (max-width: 767px) {
    .form-container .logo img {
        max-width: 60px;
    }

    .form-container h1 {
        font-size: 22px;
    }

    .input-box input {
        padding: 10px 10px 10px 35px;
        font-size: 14px;
    }

    .input-box .icon {
        font-size: 14px;
    }

    .button {
        font-size: 14px;
    }

    .register-link {
        font-size: 14px;
    }

    .container img {
        display: none;
    }

    .social_icons {
        flex-direction: row;
        justify-content: center;
        margin-top: 20px;
    }

    .social {
        padding: 10px;
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .social img {
        width: 20px;
        height: 20px;
    }
}
